{% extends "base.html" %}
{% load static %}
{% block title %}{{title_of_page}}{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'portal_site/plugins/jsgrid/jsgrid.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'portal_site/plugins/jsgrid/jsgrid-theme.min.css' %}" />
{% endblock %}

{% block content %}
<div id="configurationList"></div>
{% endblock %}

{% block js %}
<script src="{% static 'portal_site/plugins/jsgrid/jsgrid.min.js' %}"></script>

<script type="text/javascript">
    $(function () {
        $("#configurationList").jsGrid({
            height: "auto",
            width: "100%",
            filtering: true,
            inserting: true,
            editing: true,
            sorting: true,
            paging: true,
            pageSize: 15,
            pageButtonCount: 5,
            autoload: true,
            controller: {
                loadData: function () {
                    var d = $.Deferred();
                    $.ajax({
                        url: '{% url "allConfiguration" %}',
                        datatype: "json"
                    }).done(function (response) {
                        d.resolve(JSON.parse(response));

                        console.log(JSON.parse(response));
                    });
                    return d.promise();
                }
            },
            fields: [
                { name: "fields.key", type: "text", title: "Key" },
                { name: "fields.value", type: "text", title: "Value" },
                { name: "fields.HasActive", type: "checkbox", title: "Active" },
                { type: "control" }
            ]
        });
    });
</script>
{% endblock %}