{% extends "base.html" %}
{% load static %}
{% block title %}{{title_of_page}}{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'portal_site/plugins/jsgrid/jsgrid.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'portal_site/plugins/jsgrid/jsgrid-theme.min.css' %}" />
{% endblock %}

{% block content %}
<div id="configurationList"></div>
{% endblock %}

{% block js %}
<script src="{% static 'portal_site/plugins/jsgrid/jsgrid.min.js' %}"></script>
<script src="{% static 'portal_site/plugins/jquery-cookie/js.cookie.min.js' %}"></script>

<script type="text/javascript">
    $(function () {
        $("#configurationList").jsGrid({
            height: "auto",
            width: "100%",
            filtering: true,
            inserting: true,
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,

            onItemUpdating: function(args) {
                previousItem = args.previousItem;
            },

            pageSize: 15,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete the item?",

            controller: {
                loadData: function () {
                    var d = $.Deferred();
                    $.ajax({
                        url: '{% url "allConfiguration" %}',
                        datatype: "JSON"
                    }).done(function (response) {

                        console.log(response);

                        d.resolve(JSON.parse(response));
                    });
                    return d.promise();
                },

                insertItem: function(item) {
                    var d = $.Deferred();

                    console.log(item);

                    $.ajax({
                        headers: {"X-CSRFToken": Cookies.get('csrftoken')},
                        url: '{% url "add" %}',
                        type : "POST",
                        data: item
                    }).done(function(response) {
                        //alert('success');
                        d.resolve(response);
                    }).fail(function() {
                        d.resolve(previousItem);
                    });

                    return d.promise();
                },

                updateItem: function(item) {
                    var d = $.Deferred();

                    $.ajax({
                        headers: {"X-CSRFToken": Cookies.get('csrftoken')},
                        url: '{% url "edit" %}',
                        type : "POST",
                        data: item
                    }).done(function(response) {
                        d.resolve(response);
                    }).fail(function() {
                        d.resolve(previousItem);
                    });

                    return d.promise();
                },

                deleteItem: function(item) {
                    var d = $.Deferred();

                    $.ajax({
                        headers: {"X-CSRFToken": Cookies.get('csrftoken')},
                        url: '{% url "del" %}',
                        type : "POST",
                        data: item
                    }).done(function(response) {
                        d.resolve(response);
                    }).fail(function() {
                        d.resolve(previousItem);
                    });

                    return d.promise();
                },
            },
            fields: [
                { name: "pk", type: "hidden", title: "Key", visible: false },
                { name: "fields.key", type: "text", title: "Key", validate: "required" },
                { name: "fields.value", type: "text", title: "Value", validate: "required" },
                { name: "fields.HasActive", type: "checkbox", title: "Active", validate: "required" },
                { type: "control" }
            ]
        });
    });
</script>
{% endblock %}