{% extends "base.html" %}
{% load static %}
{% block title %}{{title_of_page}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'portal_site/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet"
    href="{% static 'portal_site/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'portal_site/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Gathering Data</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Stock Name</label>
                    <input class="form-control" type="text" name="stockName" placeholder="Stock Name"
                        value="FUEVFVND" required>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" id="btnCrawling">Crawling</button>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Stock Data</h3>
            </div>
            <div class="card-body" id="historical-stock">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'portal_site/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'portal_site/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'portal_site/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'portal_site/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var stockName = $('input[name="stockName"]').val().trim();
        $("#btnCrawling").click(function () {
            $('#historical-stock').html('');
            // Create Ajax Call
            $.ajax({
                url: '{% url "crawlingData" %}',
                data: {
                    'stockName': stockName
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $('#historical-stock').append(data.fig)
                    }
                }
            });
        });
    });
</script>
{% endblock %}